on property:init.svc.sshd=running
    setprop service.adb.tcp.port 5555
    stop adbd
    start adbd

service sshd /system/bin/start-ssh
    class late_start
    user root
    group root
    seclabel u:r:shell:s0
